#!/usr/bin/make -f

%:
	dh $@ --with phpcomposer

override_dh_install:
	dh_install
	mkdir -p debian/php-vitexsoftware-fluentpdo/usr/share/pkg-php-tools/autoloaders
	cp debian/autoloader.php debian/php-vitexsoftware-fluentpdo/usr/share/pkg-php-tools/autoloaders/php-vitexsoftware-fluentpdo

override_dh_auto_test:
	# Skip tests during package build
	:
